name: antifraud-platform

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: antifraud
      POSTGRES_USER: antifraud
      POSTGRES_PASSWORD: antifraud
      TZ: Europe/Warsaw
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/sql/01_extensions.sql:/docker-entrypoint-initdb.d/01_extensions.sql:ro
      - ./backend/sql/02_schema.sql:/docker-entrypoint-initdb.d/02_schema.sql:ro

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    healthcheck:
      test: ["CMD-SHELL", "bash -lc '(/opt/bitnami/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1) || (kafka-topics --bootstrap-server localhost:9092 --list >/dev/null 2>&1)'"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 20s

  backend:
    build:
      context: ./backend
    depends_on:
      postgres:
        condition: service_started
      kafka:
        condition: service_healthy
    environment:
      APP_ENV: local
      TZ: Europe/Warsaw
      DATABASE_URL: postgresql+asyncpg://antifraud:antifraud@postgres:5432/antifraud
      JWT_SECRET: "change-me-in-prod"
      JWT_EXPIRES_MIN: "240"
      ADMIN_USERNAME: admin
      ADMIN_PASSWORD: admin
      KAFKA_BOOTSTRAP: kafka:9092
      TOPIC_CLASSIFIED: events.classified
      RETENTION_DAYS: "7"
    ports:
      - "8000:8000"

  classifier:
    build:
      context: ./classifier
    depends_on:
      postgres:
        condition: service_started
      kafka:
        condition: service_healthy
    environment:
      TZ: Europe/Warsaw
      DATABASE_URL: postgresql+asyncpg://antifraud:antifraud@postgres:5432/antifraud
      KAFKA_BOOTSTRAP: kafka:9092
      TOPIC_IN: events.in
      TOPIC_OUT: events.classified
      RULES_REFRESH_SEC: "10"

  web:
    build:
      context: ./web
      args:
        VITE_API_BASE: http://localhost:8000
        VITE_WS_BASE: ws://localhost:8000
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  pgdata:
